# Gateway
SWETRIX_API_HOST=swetrix-api.railway.internal
SWETRIX_FE_HOST=swetrix-fe.railway.internal
PORT=8080

# Swetrix API
SECRET_KEY_BASE=change-me
BASE_URL=https://your-gateway.up.railway.app
REDIS_HOST=redis
REDIS_PASSWORD=password
CLICKHOUSE_HOST=http://clickhouse
CLICKHOUSE_PORT=8123
CLICKHOUSE_DATABASE=analytics
CLICKHOUSE_USER=default
CLICKHOUSE_PASSWORD=change-me
SMTP_MOCK=true
DISABLE_REGISTRATION=true
CLIENT_IP_HEADER=x-forwarded-for
